.NavBarContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fedc37;
    color:black;
}

.OptionBar {
    display: flex;
    justify-content: space-evenly;
}